.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.wrapperProductList {
    margin-top:100px;
}

.pageOptions {
    display: inline-block;
    position: absolute;
    right: 20px;
}

.pageOptions span {
    display:inline-block;
    width:20px;
    height:20px;
    border:1px solid tomato;
    text-align: center;
}