.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.wrapperProductList {
    margin-top:100px;
}

.pageOptions {
    display:flex;
    justify-content: flex-end;
}

.pageOptions span {
    display:inline-block;
    width:20px;
    height:20px;
    border:1px solid tomato;
    text-align: center;
}